@import 'tailwindcss';

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

/* Define the Shadcn UI CSS Variables */
:root {
	--background: hsl(100 100% 100%);
	--foreground: hsl(0 3% 15%);

	--muted: hsl(100 100% 100%);
	--muted-foreground: hsl(0 0% 46%);

	--border: hsl(216 34% 17%);
	--input: hsl(216 34% 17%);

	--card: hsl(224 71% 4%);
	--card-foreground: hsl(213 31% 91%);

	--primary: hsl(100 100% 100%);
	--primary-foreground: hsl(234 43% 58%);

	--destructive: hsl(100 100% 100%);
	--destructive-foreground: hsl(0 86% 23%);

	--positive: hsl(100 100% 100%);
	--positive-foreground: hsl(102 93% 24%);

	--ring: hsl(216 34% 17%);
}

@theme {
	/* Shadcn UI */
	--radius: 0.5rem;
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);

	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);

	--color-positive: var(--positive);
	--color-positive-foreground: var(--positive-foreground);

	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);

	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-xl: var(--radius);

	--font-family-fira-sans: var(--font-fira-sans);
	--font-family-montserrat: var(--font-montserrat);
	--font-family-inter: var(--font-inter);

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;

	@keyframes accordion-down {
		from {
			height: 0;
		}

		to {
			height: var(--radix-accordion-content-height);
		}
	}

	@keyframes accordion-up {
		from {
			height: var(--radix-accordion-content-height);
		}

		to {
			height: '0';
		}
	}

	--font-display: 'fira-sans', 'montserrat', 'sans-serif';

	--shadow-basic: 0 7px 25px rgba(100, 100, 111, 20%);

	--text-1.5xl: 0.875rem;
}

body {
	@apply bg-background text-foreground font-(--fira-sans);
}
